<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title><%= current_page.data.title %></title>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body class="<%= page_classes %>">
		<div class="headerWrap">
			<div class="header">
				<%= image_tag('wu-my-wu-logo.png') %>
			</div>
		</div>

		<div class="row">
			<div class="small-12 small-centered columns">
				<div class="mainContent">
					<div class="row">
						<div class="small-12 medium-8 columns">
							<div class="introText">
								<%= yield_content :intro_text %>
							</div>
							<%= yield_content :offers %>
						</div>
						<div class="small-12 medium-4 columns">
						</div>
					</div>
					<div class="acompanyingImage <%= yield_content :image_class %> hide-for-small-only"></div>
				</div>
			</div>
		</div>
    <%= yield %>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<%= javascript_include_tag  "application" %>
  </body>
</html>