<div class="row">
	<div class="small-12 small-centered columns">
		<div class="header">
			<%= link_to('Back to <span>My WU</span>', '', class: 'callToAction') %>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 small-centered columns">
		<div class="mainContent">
			<div class="row">
				<div class="small-12 medium-8 columns">
					<div class="slogan"></div>
					<div class="introText">
						<h1>Welcome to My WU Rewards, special offers selected for Western Union members</h1>
						<p>These offers have been specifically chosen for My WU members. All you need to do is select the offer you would like to use, click through, follow the instructions and enjoy your offer!</p>
					</div>
					<ul class="small-block-grid-1 medium-block-grid-3 offerGrid">
						<li class="topRow">
							<img class="offerImage"/>
							<p class="offerText">Offer text - 25% off</p>
							<p>Offer details</p>
							<%= link_to('Offer link', '') %>
						</li>
						<li class="topRow">
							<img class="offerImage"/>
							<p class="offerText">Offer text - 25% off</p>
							<p>Offer details</p>
							<%= link_to('Offer link', '') %>
						</li>
						<li class="topRow last">
							<img class="offerImage"/>
							<p class="offerText">Offer text - 25% off</p>
							<p>Offer details</p>
							<%= link_to('Offer link', '') %>
						</li>
						<li class="bottomRow first">
							<img class="offerImage"/>
							<p class="offerText">Offer text - 25% off</p>
							<p>Offer details</p>
							<%= link_to('Offer link', '') %>
						</li>
						<li class="bottomRow">
							<img class="offerImage"/>
							<p class="offerText">Offer text - 25% off</p>
							<p>Offer details</p>
							<%= link_to('Offer link', '') %>
						</li>
						<li class="bottomRow last">
							<img class="offerImage"/>
							<p class="offerText">Offer text - 25% off</p>
							<p>Offer details</p>
							<%= link_to('Offer link', '') %>
						</li>
					<ul>
				</div>
				<div class="small-12 medium-4 columns">
				</div>
			</div>
		</div>
	</div>
</div>